<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="Stomatoloska.DAL.Properties.Settings.stomatoloskaConnectionString" connectionString="Data Source=DSVEC-4597\SQLEXPRESS;Initial Catalog=stomatoloska;User ID=test;Password=test" providerName="System.Data.SqlClient" />
  <add name="stomatoloskaEntities" connectionString="metadata=res://*/Baza.StomatoloskaModel.csdl|res://*/Baza.StomatoloskaModel.ssdl|res://*/Baza.StomatoloskaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DSVEC-4597\SQLEXPRESS;initial catalog=stomatoloska;user id=test;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <add name="Stomatoloska.DAL.Properties.Settings.stomatoloskaConnectionString" connectionString="Data Source=DRAZEN-PC;Initial Catalog=stomatoloska;User ID=test;Password=test" providerName="System.Data.SqlClient" />
  <add name="stomatoloskaEntities" connectionString="metadata=res://*/Baza.StomatoloskaModel.csdl|res://*/Baza.StomatoloskaModel.ssdl|res://*/Baza.StomatoloskaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DRAZEN-PC;initial catalog=stomatoloska;user id=test;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
